<app-header [componentTitle]='title'></app-header>
<div class="container mt-4">
  <div class="row gy-3 cardFlex">
    <div class="col-md-4" *ngFor="let order of ordersArray">
      <ng-container *ngIf="order.status === 'pending' || order.status === 'delivering'">
        <!-- <ng-container [ngStyle]="{'display':cheffStatus(order.status) ?'block' :'none' }">  -->
          <section  class="rounded p-1 card">
          <div class=" row rounded mx-1 my-2 px-3 py-1 w">
            Client: {{order.client}}
          </div>

          <div class="row rounded m-1 my-2 px-2 w">
            <div class="col-7">
              <p>Products</p>
              <div *ngFor="let orderProducts of order.products">
                <p>{{orderProducts.product.name}}</p>
              </div>
            </div>
            <div class="col-5">
              <p class="d-flex justify-content-center">Qty</p>
              <div *ngFor="let orderProducts of order.products">
                <p class="d-flex justify-content-center">{{orderProducts.qty}}</p>
              </div>
            </div>
          </div>

          <div class="row" class="row rounded m-1 my-2 px-2 w">
            <div class="col">
              <label for="status">Status:</label>
              <select #selecStatus [(ngModel)]="order.status" (ngModelChange)="updateOrder(order, selecStatus.value)" name="status" id="status">
                <option [selected]="order.status === 'pending'">pending</option>
                <option [style.display]="verifyUser()" [selected]="order.status === 'canceled'">canceled</option>
                <option [selected]="order.status === 'delivering'">delivering</option>
                <option [style.display]="verifyUser()" [selected]="order.status === 'delivered'">delivered</option>
              </select>
            </div>
            <div class="col">
              <p>Preparing Time: {{ calcPreparingTime(order) }} min</p>
            </div>
          </div>
        </section>
      </ng-container>
    </div>
  </div>
</div>
