@import url('https://fonts.googleapis.com/css2?family=Inder&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Krub:wght@300&display=swap');

.logoBq{
  border-radius: 50%;
  margin-left: 10px;
  margin-top: 10px;
}
.bqTitle{
  font-family: "Inder";
  color: white;
  margin-left: 5px;
}
.queen{
   color: #DD5A44;
}
.login_container {
  position: relative;
  top: 400px;
  left: 23%;
  height: 618px;
  width: 450px;
  padding: 3.5em 2.5em;
  text-align: center;
  background: rgba(255, 255, 255, 0.3);
  border: 1px solid #FFFFFF;
  box-shadow: 0px 0px 15px 10px rgba(255, 255, 255, 0.4);
  border-radius: 10px;
  box-sizing: border-box;
}
.form_container {
  font-family: 'Inder';
  font-size: 1.5rem;
  display: grid;
  gap: 2.5em;
}
.input__group {
  color: white;
  font-size: 25px;
  font-family: 'Krub';
  position: relative;
  --color: #DD5A44;
}
.form__input {
  width: 100%;
  background: none;
  border: none;
  color: white;
  outline: none;
  border-bottom: 2px solid var(--color) ;
  font-size: 1rem;
  padding: .6em .3em;
  font-family: 'Krub';
}
.form__Label {
  color:var(--color);
  position: absolute;
  top:0px;
  left: 5px;
  cursor: pointer;
  transform: translateY(10px);
  transition:  .5s;
}
.form__input:focus + .form__Label, .form__input:not(:placeholder-shown) + .form__Label {
  transform: translateY(-12px) scale(.7) ;
  transform-origin: top left;
  color: white;

}

.login_submit {
  width: 100%;
  height: 50px;
  font-size: 23px;
  background-color: #DD5A44;
  position: relative;
  font-family: 'Krub';
  border: none;
  border-radius: 50px;
  cursor: pointer;
  font-weight: 600;
}
.login_submit:hover {
  border: 1px solid rgb(231, 181, 181);
  box-shadow: 0px 0px 8px rgb(233, 162, 162);
}
