    .container {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 2%;
        margin-top: 5%;
        padding: 10px;
    }
    
    .content {
        flex: 20%;
        margin:3px auto;
        padding: 3px;
    }

    .img {
        display: flex;
        justify-content: center;
    }
    
    .product {
        /* width: 80px;      */
        justify-content: center;
    }
    
    .interaction {
        display: flex;
        justify-content: center;
        padding: 5px;
    }
    .btnAdd{
    background-color: var(--button-background);
    font-family: var(--font-family);
    color: var( --font-color);
    font-size: 28px;
    font-weight: 700;
    border-radius: 30px;
    width: 150px;
    height: 40px;
    }